@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.hot-coffee-right h3 {
  margin: 20px 0;
  color: grey;
  font: 400 15px Rubik;
}
.hot-coffee-right a {
  text-decoration: none;
  color: grey;
}
.hot-coffee-right b{
  font-weight: 700;
}
.hot-products h2 {
  text-align: center;
  width: 150px;
}
.hot-products {
  display: flex;
  flex-wrap: wrap;
}
.hot-products a {
  width: 25%;
}
.hot-products-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
