@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.menu {
  padding: 50px 0;
  display: flex;
  gap: 150px;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.category h2,
.category2 h2 {
  text-transform: capitalize;
  margin-bottom: 25px;
}
.category h2 {
  font: 700 21px Rubik;
}
.category2 h2 {
  font: 700 26px Rubik;
}
.products a {
  color: gray;
  font: 400 18px Rubik;
  text-decoration: none;
  width: 150px;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 25px;
}
.products2 img {
  width: 130px;
  border-radius: 50%;
}
.products2 a {
  text-decoration: none;
  width: 50%;
  display: inline-block;
  margin-bottom: 40px;
}
.products-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu-right h1 {
  font: 700 35px Rubik;
  margin-bottom: 60px;
}
.products2 h2 {
  font: 400 22px Rubik;
  color: black;
  width: 200px;
  line-height: 30px;
}
.menu-line {
  width: 650px;
  margin: 30px 0;
  border: 1px solid rgba(128, 128, 128, 0.126);
}

@media (max-width: 1100px) {
  .menu-left {
    display: none;
  }
  .fixed .container4 {
    width: 1115px;
  }
  .menu {
    display: block;
  }
  .menu-right h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .menu-line {
    width: 100%;
  }
  .products2 img {
    width: 80px;
  }
  .category2 h2 {
    margin-bottom: 0;
  }
  .products2 h2 {
    font-size: 16px;
    line-height: 20px;
    width: 140px;
  }
  .category2 {
    width: 100%;
  }
  .products2 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1390px) {
  .fixed .container4 {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .fixed .container4 {
    width: 90%;
  }
  .products2 {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .products2 a{
    margin-bottom: 20px;
  }
}
