@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.bg-bottom {
  background-color: #1e3932;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}
.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 0 auto;
}
.bg-bottom hr {
  width: 270px;
  margin: 20px 0 0 350px;
}
.bag-icon {
  font-size: 35px;
  color: #fff;
}
.down-icon {
  color: #fff;
}
.bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  text-decoration: none !important;
}
.bottom-text h1 {
  font: 400 17px Rubik;
  margin-bottom: 7px;
  color: #ffffffb3;
}
.bottom-text h2 {
  font: 600 20px Rubik;
  color: #fff;
}

@media (max-width: 1024px) {
  .menu-bottom {
    width: 70%;
  }
  .bottom-text {
    display: flex;
    gap: 5px;
  }
  .bottom-text h2 {
    font: 400 17px Rubik;
    color: #ffffffb3;
  }
  .bottom-content{
    gap: 40px;
  }
  .bag-icon{
    font-size: 25px;
  }
}
@media (max-width:1440px) {
  .bg-bottom hr{
    display: none;
  }
}
@media (max-width:680px){
  .menu-bottom{
    width: 90%;
  }
}
@media (max-width:400px) {
  .menu-bottom{
    width: 100%;
  }
}