.menu-nav1 {
  background-color: hsl(0, 0%, 98%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 7px inset,
    rgba(0, 0, 0, 0.3) 0px 0px 4px -10px inset;
  padding: 20px 0;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu-nav {
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-nav a {
  text-transform: capitalize;
  font: 400 14px arial;
  color: black;
  text-decoration: none;
}

@media (max-width: 1390px) {
  .menu-nav1 .container4 {
    width: 70%;
    /* margin: 0; */
  }
  .menu-nav {
    width: 40%;
  }
}
@media (max-width: 990px) {
  .menu-nav{
    width: 55%;
  }
}
@media (max-width: 768px) {
  .menu-nav1 .container4 {
    width: 90%;
  }
  .menu-nav {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .menu-nav {
    width: 90%;
  }
}
