@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.company {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 50px;
}
.company img {
  width: 100%;
}
.cmp-p {
  width: 700px !important;
  font: 500 22px Work Sans !important;
  line-height: 33px !important;
}
.cmp-content p,
.cmp-content2 p {
  width: 780px;
  font: 450 20px Work Sans;
  line-height: 33px;
}
.company h1 {
  font: 650 60px Work Sans;
}
.company h2 {
  width: 550px;
  font: 650 40px Work Sans;
  line-height: 50px;
}

.cmp-button {
  width: fit-content;
  border: 1px solid hsl(158, 100%, 23%, 1);
  padding: 8px 18px;
  border-radius: 20px;
  text-decoration: none;
  font: 500 18px Rubik;
  color: hsl(158, 100%, 23%);
}

.cmp-button:hover {
  background-color: hsla(158, 100%, 23%, 0.1);
}
.cmp-content h3,
.cmp-content2 h3 {
  font: 650 27px Work Sans;
  color: black;
}

.cmp-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}
.cmp-content2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

@media (max-width:900px) {
  .company {
    margin-top: 30px;
  }

  .company h1 {
    font-size: 50px ;
  }

  .company h2 {
    font-size: 35px;
    width: 100%;
  }

  .cmp-content p,
  .cmp-content2 p {
    width: 100%;
    font-size: 19px;
  }

  .cmp-button {
    font-size: 17px;
    padding: 7px 14px;
  }

  .cmp-content {
    gap: 25px;
  }

  .cmp-content2 {
    gap: 25px;
  }
  
  .cmp-p {
    font-size: 20px;
    width: 100%;
  }

  .company img {
    max-width: 85%;
  }

  .cmp-content2 h3 {
    font-size: 26px;
  }
}

@media (max-width:780px) {
  .company {
    margin-top: 20px;
  }

  .company h1 {
    font-size: 40px;
  }

  .company h2 {
    font-size: 26x;
    width: 100%;
  }

  .cmp-content p,
  .cmp-content2 p {
    width: 100%;
    font-size: 18px;
  }
.cmp-p{
  width: 100% !important;
}
  .cmp-button {
    font-size: 16px;
    padding: 6px 12px;
  }

  .cmp-content {
    gap: 20px;
  }

  .cmp-content2 {
    gap: 20px;
  }
  
  .cmp-p {
    font-size: 18px;
    width: 100%;
  }

  .company img {
    max-width: 90%;
  }

  .cmp-content2 h3 {
    font-size: 24px;
  }
}

